<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="nav-bar">
<h1>Cocktail Engine</h1>
</div>

<div class="under-nav-bar">
    <h4>Search On:</h2>
        <nav>Name</nav>
        <nav>Ingredients</nav>
        <form action="/" method="GET">
        <label for=alcohol_free>Alcohol Free? <input type="checkbox" name="alcohol_free" value="isAlcoholic"></label>
        </form>
    </ul>
</div>

{% block content %}
{% endblock %}

</body>
</html>